label {
    color: grey;
}

.valoracion {
    direction: rtl; /* right to left */
    unicode-bidi: bidi-override; /* bidi de bidireccional */
}

.valoracion label:hover,
.valoracion label:hover ~ label {
    color: orange;
}

.valoracion input[type="radio"]:checked ~ label {
    color: orange;
}